In [1]:
import pandas as pd

# Import dataset
data = pd.read_csv("survey.csv")
data.head()
# 
#
# TODO: Investigate data set
#

,Timestamp,How old are you?,What industry do you work in?,Job title,"If your job title needs additional context, please clarify here:","What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)","How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.",Please indicate the currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",What country do you work in?,"If you're in the U.S., what state do you work in?",What city do you work in?,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,What is your race? (Choose all that apply.)
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

In [2]:
# Data Cleaning 1: Remove unecessary fields

# Clean column names
data.columns = ['timestamp', 'age', 'industry', 'title', 'title_context', 'salary', 'bonus', 'currency', 'currency_other', 'income_context',
                'country', 'us_state', 'city', 'years_experience', 'years_in_field', 'education', 'gender', 'race']

#
# TODO: remove following columns: 'timestamp', 'title', 'title_context', 'income_context', 'bonus'.
#
# hint: use data.drop()
#

data = data.drop(['timestamp', 'title', 'title_context', 'income_context', 'bonus'], axis=1)
data.head()

,age,industry,salary,currency,currency_other,country,us_state,city,years_experience,years_in_field,education,gender,race
0,25-34,Education (Higher Education),"55,000",USD,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,25-34,Computing or Tech,"54,600",GBP,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,25-34,"Accounting, Banking & Finance","34,000",USD,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,25-34,Nonprofits,"62,000",USD,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,25-34,"Accounting, Banking & Finance","60,000",USD,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

In [3]:
# Data Cleaning 2: Normalize values

# Turn salary (string) into float values
data["salary"] = data["salary"].astype(str).str.replace(",", "").astype(float)
data['salary'].mean()

# Map ranges to mean values
years_conversion = {'1 year or less': 0.5, '2 - 4 years': 3, '5-7 years': 6, '8 - 10 years': 9, '11 - 20 years': 15.5, '21 - 30 years': 25.5, '31 - 40 years': 35.5, '41 years or more': 47}

#
# TODO: Complete age_conversions by mapping age ranges to float values
#
# hint: similar to years_conversion - think about what values to map to (turning the age to numeric allows us to do further computations/ML)
#

age_conversion = {
    '18-24': 21
    ,'25-34': 29.5
    ,'35-44': 39.5
    ,'45-54': 49.5
    ,'55-64': 59.5
    ,'65 or over': 70
    ,'under 18': 16.5
}


# Apply mappings to convert values
data["years_experience"] = data["years_experience"].replace(years_conversion)
data["years_in_field"] = data["years_in_field"].replace(years_conversion)
data["age"] = data["age"].replace(age_conversion)

data.head()

#
# THINK why might we want to clean these values?
#

/tmp/ipykernel_3718/1497018506.py:28: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["years_experience"] = data["years_experience"].replace(years_conversion)
/tmp/ipykernel_3718/1497018506.py:29: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["years_in_field"] = data["years_in_field"].replace(years_conversion)
/tmp/ipykernel_3718/1497018506.py:30: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["age"] = data["age"].replace(age_conversion)

,age,industry,salary,currency,currency_other,country,us_state,city,years_experience,years_in_field,education,gender,race
0,29.5,Education (Higher Education),55000.0,USD,NaN,United States,Massachusetts,Boston,6.0,6.0,Master's degree,Woman,White
1,29.5,Computing or Tech,54600.0,GBP,NaN,United Kingdom,NaN,Cambridge,9.0,6.0,College degree,Non-binary,White
2,29.5,"Accounting, Banking & Finance",34000.0,USD,NaN,US,Tennessee,Chattanooga,3.0,3.0,College degree,Woman,White
3,29.5,Nonprofits,62000.0,USD,NaN,USA,Wisconsin,Milwaukee,9.0,6.0,College degree,Woman,White
4,29.5,"Accounting, Banking & Finance",60000.0,USD,NaN,US,South Carolina,Greenville,9.0,6.0,College degree,Woman,White

In [4]:
industry_counts = data.value_counts('industry')
industry_counts.head(60)

industry
Computing or Tech                       4713
Education (Higher Education)            2466
Nonprofits                              2420
Health care                             1902
Government and Public Administration    1893
Accounting, Banking & Finance           1812
Engineering or Manufacturing            1700
Marketing, Advertising & PR             1136
Law                                     1098
Business or Consulting                   854
Education (Primary/Secondary)            838
Media & Digital                          774
Insurance                                532
Retail                                   505
Recruitment or HR                        460
Property or Construction                 387
Art & Design                             359
Utilities & Telecommunications           357
Transport or Logistics                   304
Sales                                    286
Social Work                              274
Hospitality & Events                     262
Entertainment                            254
Agriculture or Forestry                  138
Leisure, Sport & Tourism                  99
Publishing                                56
Library                                   51
Libraries                                 50
Biotech                                   49
Law Enforcement & Security                43
Public Library                            35
Research                                  33
Manufacturing                             26
Pharmaceuticals                           24
Real Estate                               21
Architecture                              21
Public Libraries                          20
Pharmaceutical                            20
Pharma                                    17
Biotechnology                             16
Energy                                    16
Manufacturing                             14
Environmental Consulting                  14
Translation                               13
Scientific Research                       13
Science                                   13
Veterinary                                10
Pharmaceutical                            10
Oil & Gas                                 10
Public library                            10
Politics                                  10
Oil and Gas                                9
Environmental                              9
Automotive                                 9
Philanthropy                               9
Biotech/Pharma                             9
Museum                                     9
Construction                               8
Mining                                     8
Publishing                                 8
Name: count, dtype: int64

In [5]:
# Data Cleaning 3: More Mappings!

industry_mapping = {
    "Computing or Tech": "Computing or Tech",
    "Education (Higher Education)": "Education",
    "Nonprofits": "Nonprofits",
    "Health care": "Health care",
    "Government and Public Administration": "Government and Public Administration",
    "Accounting, Banking & Finance": "Accounting, Banking & Finance",
    "Engineering or Manufacturing": "Engineering or Manufacturing",
    "Marketing, Advertising & PR": "Marketing, Advertising & PR",
    "Law": "Law",
    "Business or Consulting": "Business or Consulting",
    "Education (Primary/Secondary)": "Education",
    "Media & Digital": "Marketing, Advertising & PR",
    "Insurance": "Accounting, Banking & Finance",
    "Retail": "Business or Consulting",
    "Recruitment or HR": "Business or Consulting",
    "Property or Construction": "Engineering or Manufacturing",
    "Art & Design": "Marketing, Advertising & PR",
    "Utilities & Telecommunications": "Engineering or Manufacturing",
    "Transport or Logistics": "Engineering or Manufacturing",
    "Sales": "Business or Consulting",
    "Social Work": "Nonprofits",
    "Hospitality & Events": "Business or Consulting",
    "Entertainment": "Marketing, Advertising & PR",
    "Agriculture or Forestry": "Engineering or Manufacturing",
    "Leisure, Sport & Tourism": "Business or Consulting",
    "Publishing": "Marketing, Advertising & PR",
    "Library": "Education",
    "Libraries": "Education",
    "Biotech": "Health care",
    "Law Enforcement & Security": "Government and Public Administration",
    "Public Library": "Education",
    "Research": "Health care",
    "Manufacturing": "Engineering or Manufacturing",
    "Pharmaceuticals": "Health care",
    "Architecture": "Engineering or Manufacturing",
    "Real Estate": "Business or Consulting",
    "Pharmaceutical": "Health care",
    "Public Libraries": "Education",
    "Pharma": "Health care",
    "Biotechnology": "Health care",
    "Energy": "Engineering or Manufacturing",
    "Environmental Consulting": "Engineering or Manufacturing",
    "Science": "Health care",
    "Scientific Research": "Health care",
    "Translation": "Marketing, Advertising & PR",
    "Veterinary": "Health care",
    "Oil & Gas": "Engineering or Manufacturing",
    "Politics": "Government and Public Administration",
    "Automotive": "Engineering or Manufacturing",
    "Oil and Gas": "Engineering or Manufacturing",
    "Philanthropy": "Nonprofits",
    "Biotech/Pharma": "Health care",
    "Environmental": "Engineering or Manufacturing",
    "Museum": "Education",
    "Biomedical Research": "Health care",
    "Construction": "Engineering or Manufacturing"
}

# Filter out rows where 'currency' is 'AUD/NZD'
data = data[data["currency"] != "AUD/NZD"]
data = data[data["industry"].isin(industry_mapping.keys())]
data["industry"] = data["industry"].replace(industry_mapping)

In [7]:
# Data Cleaning 4: Handling currency and currency_other

# Combine the value counts from both 'currency' and 'currency_other' columns
combined_currency_counts = pd.concat([data["currency"].value_counts(), data["currency_other"].value_counts()])

# Filter out USD and consider only currencies that appear more than once
non_usd_currencies = combined_currency_counts[combined_currency_counts > 1].index

# Convert to a list, excluding 'USD'
non_usd_currencies_list = [currency for currency in non_usd_currencies if currency != 'USD']
non_usd_currencies_list = list(set(non_usd_currencies_list))

# Print the list of non-USD currencies
print(non_usd_currencies_list)

# Combine currency and currency_other
data['currency'] = data['currency_other'].combine_first(data['currency'])
data = data.drop(columns=['currency_other'])

['ZAR', 'THB', 'GBP', 'SGD', 'CAD', 'HKD', 'NGN', 'KRW', 'CZK', 'NOK', 'SEK', 'MYR', 'CHF', 'INR', 'BRL', 'EUR', 'PLN', 'Other', 'AUD', 'JPY', 'DKK', 'NZD', 'ILS', 'TRY', 'ARS', 'MXN', 'Dkk', 'CNY', 'Czk']

In [8]:
import requests

# API URL to get exchange rates with USD as the base currency
api_key = "040531bc8bf5d856af6c4f1f"
exchange_rate_api_link = f"https://v6.exchangerate-api.com/v6/{api_key}/latest/USD"

# Make the API request
response = requests.get(exchange_rate_api_link)
api_data = response.json()  # Convert response to JSON

# Extract conversion rates
conversion_rates = api_data.get("conversion_rates", {})

# List of non-USD currencies from your dataset (replace with actual list)

# Store exchange rates for relevant currencies in a dictionary
exchange_rates_dict = {currency: conversion_rates.get(currency) for currency in non_usd_currencies_list if currency in conversion_rates}

# Print the dictionary of exchange rates
print(exchange_rates_dict)

# NOTE: ONLY RUN THIS CELL ONCE

{'ZAR': 18.3601, 'THB': 33.6413, 'GBP': 0.7948, 'SGD': 1.3398, 'CAD': 1.4182, 'HKD': 7.7837, 'NGN': 1509.807, 'KRW': 1440.3458, 'CZK': 23.87, 'NOK': 11.1191, 'SEK': 10.6997, 'MYR': 4.435, 'CHF': 0.8997, 'INR': 86.7955, 'BRL': 5.7132, 'EUR': 0.9533, 'PLN': 3.9665, 'AUD': 1.5742, 'JPY': 152.3479, 'DKK': 7.1119, 'NZD': 1.7453, 'ILS': 3.5481, 'TRY': 36.229, 'ARS': 1058.5, 'MXN': 20.3269, 'CNY': 7.2626}

In [9]:
#
# TODO: How many Hong Kong Dollars (HKD) can be converted from 57.34 USD?
#
# What does each value represent?
#

print(57.34 * exchange_rates_dict['HKD'])

#
# TODO: Which currency has the largest number conversion rate?
#
# Hint: .items() can be used
# it is NOT ZAR
#

print(exchange_rates_dict.items())

446.317358
dict_items([('ZAR', 18.3601), ('THB', 33.6413), ('GBP', 0.7948), ('SGD', 1.3398), ('CAD', 1.4182), ('HKD', 7.7837), ('NGN', 1509.807), ('KRW', 1440.3458), ('CZK', 23.87), ('NOK', 11.1191), ('SEK', 10.6997), ('MYR', 4.435), ('CHF', 0.8997), ('INR', 86.7955), ('BRL', 5.7132), ('EUR', 0.9533), ('PLN', 3.9665), ('AUD', 1.5742), ('JPY', 152.3479), ('DKK', 7.1119), ('NZD', 1.7453), ('ILS', 3.5481), ('TRY', 36.229), ('ARS', 1058.5), ('MXN', 20.3269), ('CNY', 7.2626)])

In [10]:
# Apply conversion to USD
data["salary_usd"] = data.apply(lambda row: row["salary"] / exchange_rates_dict.get(row["currency"], 1), axis=1)

#
# TODO: Compare the mean salary to the mean USD salary. 
#

print(data['salary'].mean())
print(data['salary_usd'].mean())

379869.91729496844
300240.1728296401

In [11]:
# Data cleaning
data["us_state"] = data["us_state"].fillna("")
data["city"] = data["city"].fillna("")
data["country"] = data["country"].fillna("")
country_dict = {
    "Australia": "Australia",
    "Australia ": "Australia",
    "Austria": "Austria",
    "Argentina": "Argentina",
    "Belgium": "Belgium",
    "Belgium ": "Belgium",
    "Bermuda": "Bermuda",
    "Brazil": "Brazil",
    "Bulgaria": "Bulgaria",
    "Canada": "Canada",
    "Canada ": "Canada",
    "Canda": "Canada",
    "Chile": "Chile",
    "China": "China",
    "Colombia": "Colombia",
    "Croatia": "Croatia",
    "Czech Republic": "Czech Republic",
    "Cyprus": "Cyprus",
    "Denmark": "Denmark",
    "Denmark ": "Denmark",
    "Danmark": "Denmark",
    "England": "United Kingdom",
    "England ": "United Kingdom",
    "England, UK": "United Kingdom",
    "England, United Kingdom": "United Kingdom",
    "Estonia": "Estonia",
    "Finland": "Finland",
    "finland": "Finland",
    "France": "France",
    "Germany": "Germany",
    "Germany ": "Germany",
    "Ghana": "Ghana",
    "Greece": "Greece",
    "Great Britain": "United Kingdom",
    "Great Britain ": "United Kingdom",
    "Hong Kong": "Hong Kong",
    "Hungary": "Hungary",
    "India": "India",
    "Indonesia": "Indonesia",
    "Ireland": "Ireland",
    "Ireland ": "Ireland",
    "Israel": "Israel",
    "Italy": "Italy",
    "Japan": "Japan",
    "Japan ": "Japan",
    "Kenya": "Kenya",
    "Latvia": "Latvia",
    "Lithuania": "Lithuania",
    "Luxembourg": "Luxembourg",
    "Malaysia": "Malaysia",
    "Mexico": "Mexico",
    "Morocco": "Morocco",
    "Netherlands": "Netherlands",
    "Netherlands ": "Netherlands",
    "The Netherlands": "Netherlands",
    "The Netherlands ": "Netherlands",
    "New Zealand": "New Zealand",
    "New Zealand ": "New Zealand",
    "NZ": "New Zealand",
    "Nigeria": "Nigeria",
    "Nigeria ": "Nigeria",
    "Norway": "Norway",
    "Norway ": "Norway",
    "Pakistan": "Pakistan",
    "Philippines": "Philippines",
    "Poland": "Poland",
    "Portugal": "Portugal",
    "Puerto Rico": "Puerto Rico",
    "Romania": "Romania",
    "Saudi Arabia": "Saudi Arabia",
    "Scotland": "United Kingdom",
    "Scotland ": "United Kingdom",
    "Scotland, UK": "United Kingdom",
    "Singapore": "Singapore",
    "Singapore ": "Singapore",
    "South Africa": "South Africa",
    "South africa": "South Africa",
    "South Africa ": "South Africa",
    "South Korea": "South Korea",
    "Spain": "Spain",
    "spain": "Spain",
    "Spain ": "Spain",
    "Sri Lanka": "Sri Lanka",
    "Sri lanka": "Sri Lanka",
    "Sweden": "Sweden",
    "Sweden ": "Sweden",
    "Switzerland": "Switzerland",
    "SWITZERLAND": "Switzerland",
    "Switzerland ": "Switzerland",
    "Taiwan": "Taiwan",
    "Thailand": "Thailand",
    "The United States": "United States",
    "The US": "United States",
    "Turkey": "Turkey",
    "U.K.": "United Kingdom",
    "U.K. ": "United Kingdom",
    "UK": "United Kingdom",
    "UK ": "United Kingdom",
    "UK (England)": "United Kingdom",
    "United Kingdom": "United Kingdom",
    "United Kingdom ": "United Kingdom",
    "United Kingdom (England)": "United Kingdom",
    "Unites states": "United States",
    "Unites States": "United States",
    "United State": "United States",
    "United State ": "United States",
    "United Stares": "United States",
    "United Stares ": "United States",
    "United Stated": "United States",
    "United States": "United States",
    "United States ": "United States",
    "United States of America": "United States",
    "United States of America ": "United States",
    "United Sates": "United States",
    "United Sates of America": "United States",
    "United Status": "United States",
    "UnitedStates": "United States",
    "United Status": "United States",
    "United Stares ": "United States",
    "Unite States": "United States",
    "USA": "United States",
    "USA ": "United States",
    "Usa": "United States",
    "US": "United States",
    "US ": "United States",
    "U.S.": "United States",
    "U.S. ": "United States",
    "U.S": "United States",
    "U. S.": "United States",
    "U. S. ": "United States",
    "U.S.A": "United States",
    "U.S.A.": "United States",
    "U.S.A. ": "United States",
    "United Statea": "United States",
    "U.S.A ": "United States",
    "ISA": "United States",
    "America": "United States",
    "🇺🇸": "United States",
    "Zimbabwe": "Zimbabwe",
}
data = data[data["country"].isin(country_dict.keys())]
data["country"] = data["country"].replace(country_dict)

# Concatenate city, state (if available), and country
data["full_location"] = data.apply(lambda row: 
                                   f"{row['city']}, {row['us_state']}, {row['country']}" if row["us_state"] 
                                   else f"{row['city']}, {row['country']}", axis=1)


# Print a few rows to verify
print(data[["city", "us_state", "country", "full_location"]].head())
city_counts = data.value_counts('full_location')
# print(len(city_counts))
# print(city_counts.head(1000))

avg_salary_by_location = data.groupby("full_location")["salary"].mean()
avg_salary_by_location = avg_salary_by_location.sort_values()
avg_salary_by_location

          city        us_state         country  \
0       Boston   Massachusetts   United States
1    Cambridge                  United Kingdom
2  Chattanooga       Tennessee   United States
3    Milwaukee       Wisconsin   United States
4   Greenville  South Carolina   United States

                               full_location
0       Boston, Massachusetts, United States
1                  Cambridge, United Kingdom
2      Chattanooga, Tennessee, United States
3        Milwaukee, Wisconsin, United States
4  Greenville, South Carolina, United States

full_location
Charlotte , North Dakota, United States            0.0
New. Haven, Connecticut, United States             0.0
Noida, India                                      10.0
Enschede, Netherlands                             18.0
barcelona, Spain                                  30.0
                                              ...
Changwon, South Korea                       27000000.0
Seoul, South Korea                          40900000.0
Bogota, Colombia                            51012500.0
Bandung, Indonesia                         180000000.0
Jakarta , Indonesia                        870000000.0
Name: salary, Length: 4977, dtype: float64

In [12]:
# Gather data from top 150 locations
top_150_locations = data['full_location'].value_counts().head(150).index

# Filter data to only include locations in the top 150
new_data = data.drop(columns=['full_location', 'us_state', 'city', 'race'])
new_data = new_data[new_data['salary_usd'] < 2000000]
# massive_data = new_data[new_data['full_location'].isin(top_150_locations)]

massive_data = pd.get_dummies(new_data)
massive_data

,age,salary,years_experience,years_in_field,salary_usd,"industry_Accounting, Banking & Finance",industry_Business or Consulting,industry_Computing or Tech,industry_Education,industry_Engineering or Manufacturing,...,education_High School,education_Master's degree,education_PhD,"education_Professional degree (MD, JD, etc.)",education_Some college,gender_Man,gender_Non-binary,gender_Other or prefer not to answer,gender_Prefer not to answer,gender_Woman
0,29.5,55000.0,6.0,6.0,55000.000000,False,False,False,True,False,...,False,True,False,False,False,False,False,False,False,True
1,29.5,54600.0,9.0,6.0,68696.527428,False,False,True,False,False,...,False,False,False,False,False,False,True,False,False,False
2,29.5,34000.0,3.0,3.0,34000.000000,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,29.5,62000.0,9.0,6.0,62000.000000,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,29.5,60000.0,9.0,6.0,60000.000000,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28104,21.0,100000.0,0.5,0.5,100000.000000,False,False,False,False,True,...,False,True,False,False,False,False,False,False,False,True
28106,39.5,132000.0,15.5,15.5,132000.000000,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,True
28107,49.5,279000.0,25.5,15.5,279000.000000,False,False,True,False,False,...,False,True,False,False,False,False,False,False,False,True
28114,29.5,12000.0,3.0,3.0,12000.000000,False,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
28116,39.5,72800.0,15.5,15.5,72800.000000,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,True

In [13]:
# Regression!

# Import necessary libraries
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Goal: Create model to predict salary (USD)
#
# TODO: Define the features (independent variables) X, and target (dependent variable) y
#
# Hint: Drop 2 columns from X

X = massive_data.drop(columns=['salary', 'salary_usd'])
# X = massive_data[['years_in_field', 'age']]
y = massive_data['salary_usd']


# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

# Initialize the regression model (Linear Regression in this case)
model = LinearRegression()

# Train the model
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)  # Mean Squared Error
r2 = r2_score(y_test, y_pred)  # R-squared score

# Print the results
print("Mean Squared Error:", mse)
print("R-squared:", r2)

# Optionally, you can check the model's coefficients
print("Model Coefficients:", model.coef_)
print("Model Intercept:", model.intercept_)

Mean Squared Error: 2805562222.831328
R-squared: 0.28787279208653416
Model Coefficients: [-2.54686849e+02  1.23490753e+02  1.92675859e+03  4.67490957e+03
  1.18910082e+03  3.60386152e+04 -2.69715692e+04  3.28564825e+03
 -8.18326013e+03  1.75168160e+03  2.78875717e+03  8.18047509e+02
 -1.53919309e+04 -1.31631773e+05 -2.73266778e-08 -3.29164322e-08
 -1.16127033e+05  2.07328412e-08 -1.49044626e+05 -1.18849213e+05
 -1.65563599e+05 -1.23746118e+05  6.95648035e+04  1.28493701e+05
 -1.02600341e+05 -2.69802411e+04 -1.70972360e+05 -1.70912244e-08
  1.26601662e-08 -1.35564264e+05 -8.18140577e+04 -1.51272044e+05
 -8.16501060e+04 -2.93948688e-09  2.06637196e-09  3.90035498e+04
 -1.09287029e+05 -1.30075529e+05  1.12402637e+05  1.35486979e+05
  6.14611410e+05 -1.45806378e+05 -1.21504898e+05 -1.69026527e+05
 -1.36281083e+05  4.73469272e+05 -5.82076609e-11 -1.22925992e+05
 -3.52259903e+04 -2.07808966e+04 -1.60496703e+05  1.31098556e+06
 -4.22909170e+03  3.29998856e+05 -1.39034051e+05 -1.75851275e+05
 -7.26545813e+04 -1.62689859e+05 -1.44160379e+05  5.43333856e+04
  3.52932378e+05 -1.28285755e+05 -1.63862426e+05 -2.14395650e+05
  3.68646728e+04 -1.61031332e+05  6.24107872e+05 -1.82710153e+05
 -1.14125085e+05  4.68990254e+05  3.77622200e-09 -1.77533366e-09
 -9.80866001e+04 -1.35354994e+05  1.89843628e+05 -1.36060861e+05
 -8.84840227e+04  7.69367234e+03  3.51396978e+05  2.82097209e+05
  1.48429535e-09  4.51366224e+05  2.38303424e+05 -1.22492632e+05
 -7.99964708e+04 -1.53967613e+05 -1.04108961e+05 -1.40034715e+05
 -3.48620291e+04 -1.44500075e+05 -1.49590813e+05  3.17231752e-09
 -6.69735860e+04 -1.43519617e+05 -9.99586333e+04 -1.10682551e+05
 -9.95598595e+04  5.92278394e+05 -1.51339918e-09 -2.17714234e+05
 -1.15851780e+05 -1.45253662e+05 -1.06914702e+05  5.49455483e+05
  4.44380744e+04  2.33324345e+04  2.12975626e+04  4.30542905e+04
 -1.31426204e+03 -3.22056182e+04  1.85206291e+04 -1.02897043e+04
  2.75102800e+04 -6.20709439e+04 -2.95144345e+03 -8.16501060e+04
  3.41278166e+04  6.45505299e+03  7.73799492e+03  1.08176797e+04
  3.64784217e+04  8.16812568e+02 -1.49380584e+04 -5.89592736e+05
 -1.63563663e+04 -3.31500604e+04  2.41832425e+04  3.22022274e+04
  9.77387432e+03  3.64575982e+04 -1.59865529e+04 -2.98341638e+04
  1.39227773e+03  5.57035638e+04 -1.53166763e+04  1.06631790e+04
 -3.34892850e+04  1.67950696e+04  4.90464105e+04  5.65772938e+04
  3.17742110e+04 -1.97313980e+04 -4.35412420e+04 -2.15681954e+04
 -2.13484085e+04 -2.75487971e+04 -2.26619330e+04 -7.02147519e+03
  3.02141201e+04 -5.04139102e+02 -7.26545813e+04 -1.26569096e+03
  1.24627606e+05  3.89627274e+03  3.86232028e+03 -2.19322714e+04
 -3.98126019e+04 -9.95598595e+04  1.67304786e+04  2.80844287e+04
 -1.77301357e+04 -5.00067749e+03 -2.26832437e+04  6.04251377e+03
  2.75145134e+04  5.04015081e+04 -2.07811934e+04  1.92484023e+03
 -1.45492092e+04 -7.82590147e+03  0.00000000e+00 -1.32193563e+04]
Model Intercept: 176444.02552375733

In [16]:
print(X)
print(y)

        age  years_experience  years_in_field  \
0      29.5               6.0             6.0
1      29.5               9.0             6.0
2      29.5               3.0             3.0
3      29.5               9.0             6.0
4      29.5               9.0             6.0
...     ...               ...             ...
28104  21.0               0.5             0.5
28106  39.5              15.5            15.5
28107  49.5              25.5            15.5
28114  29.5               3.0             3.0
28116  39.5              15.5            15.5

       industry_Accounting, Banking & Finance  \
0                                       False
1                                       False
2                                        True
3                                       False
4                                        True
...                                       ...
28104                                   False
28106                                   False
28107                                   False
28114                                   False
28116                                   False

       industry_Business or Consulting  industry_Computing or Tech  \
0                                False                       False
1                                False                        True
2                                False                       False
3                                False                       False
4                                False                       False
...                                ...                         ...
28104                            False                       False
28106                            False                       False
28107                            False                        True
28114                            False                       False
28116                            False                       False

       industry_Education  industry_Engineering or Manufacturing  \
0                    True                                  False
1                   False                                  False
2                   False                                  False
3                   False                                  False
4                   False                                  False
...                   ...                                    ...
28104               False                                   True
28106               False                                  False
28107               False                                  False
28114               False                                  False
28116               False                                  False

       industry_Government and Public Administration  industry_Health care  \
0                                              False                 False
1                                              False                 False
2                                              False                 False
3                                              False                 False
4                                              False                 False
...                                              ...                   ...
28104                                          False                 False
28106                                          False                 False
28107                                          False                 False
28114                                          False                  True
28116                                          False                  True

       ...  education_High School  education_Master's degree  education_PhD  \
0      ...                  False                       True          False
1      ...                  False                      False          False
2      ...                  False                      False          False
3      ...                  False                      False          False
4      ...                  False                      False          False
...    ...                    ...                        ...            ...
28104  ...                  False                       True          False
28106  ...                  False                       True          False
28107  ...                  False                       True          False
28114  ...                  False                      False          False
28116  ...                  False                       True          False

       education_Professional degree (MD, JD, etc.)  education_Some college  \
0                                             False                   False
1                                             False                   False
2                                             False                   False
3                                             False                   False
4                                             False                   False
...                                             ...                     ...
28104                                         False                   False
28106                                         False                   False
28107                                         False                   False
28114                                          True                   False
28116                                         False                   False

       gender_Man  gender_Non-binary  gender_Other or prefer not to answer  \
0           False              False                                 False
1           False               True                                 False
2           False              False                                 False
3           False              False                                 False
4           False              False                                 False
...           ...                ...                                   ...
28104       False              False                                 False
28106       False              False                                 False
28107       False              False                                 False
28114        True              False                                 False
28116       False              False                                 False

       gender_Prefer not to answer  gender_Woman
0                            False          True
1                            False         False
2                            False          True
3                            False          True
4                            False          True
...                            ...           ...
28104                        False          True
28106                        False          True
28107                        False          True
28114                        False         False
28116                        False          True

[24934 rows x 172 columns]
0         55000.000000
1         68696.527428
2         34000.000000
3         62000.000000
4         60000.000000
             ...
28104    100000.000000
28106    132000.000000
28107    279000.000000
28114     12000.000000
28116     72800.000000
Name: salary_usd, Length: 24934, dtype: float64

In [17]:
new_data['predicted_salary'] = model.predict(X)

In [18]:
realtopredicted = new_data[['salary', 'predicted_salary']]
realtopredicted

         salary  predicted_salary
0       55000.0      59316.496242
1       54600.0      78540.856034
2       34000.0      73769.035695
3       62000.0      60223.415557
4       60000.0      80290.255984
...         ...               ...
28104  100000.0      80462.180495
28106  132000.0      87826.634828
28107  279000.0     137945.219941
28114   12000.0      51236.817209
28116   72800.0     104970.247285

[24934 rows x 2 columns]

In [19]:
new_data

,age,industry,salary,currency,country,years_experience,years_in_field,education,gender,salary_usd,predicted_salary
0,29.5,Education,55000.0,USD,United States,6.0,6.0,Master's degree,Woman,55000.000000,59316.496242
1,29.5,Computing or Tech,54600.0,GBP,United Kingdom,9.0,6.0,College degree,Non-binary,68696.527428,78540.856034
2,29.5,"Accounting, Banking & Finance",34000.0,USD,United States,3.0,3.0,College degree,Woman,34000.000000,73769.035695
3,29.5,Nonprofits,62000.0,USD,United States,9.0,6.0,College degree,Woman,62000.000000,60223.415557
4,29.5,"Accounting, Banking & Finance",60000.0,USD,United States,9.0,6.0,College degree,Woman,60000.000000,80290.255984
...,...,...,...,...,...,...,...,...,...,...,...
28104,21.0,Engineering or Manufacturing,100000.0,USD,United States,0.5,0.5,Master's degree,Woman,100000.000000,80462.180495
28106,39.5,Nonprofits,132000.0,USD,United States,15.5,15.5,Master's degree,Woman,132000.000000,87826.634828
28107,49.5,Computing or Tech,279000.0,USD,United States,25.5,15.5,Master's degree,Woman,279000.000000,137945.219941
28114,29.5,Health care,12000.0,USD,Colombia,3.0,3.0,"Professional degree (MD, JD, etc.)",Man,12000.000000,51236.817209
28116,39.5,Health care,72800.0,USD,United States,15.5,15.5,Master's degree,Woman,72800.000000,104970.247285

In [20]:
# Group by 'full_location' and calculate the average for the specified columns
grouped_data = new_data.groupby('country')[['age', 'years_experience', 'years_in_field', 'salary_usd', 'predicted_salary']].mean().reset_index()
grouped_data_dict = grouped_data.to_dict(orient='records')
# Now, 'grouped_data' contains the average values for each 'full_location'

In [ ]:
# DO NOT RUN THIS CELL UNTIL UPDATING THE UNIQUE NAME FIELD

from pymongo import MongoClient
import os
# Replace the below URL with your MongoDB cloud connection string
mongo_uri = os.environ.get("MONGO_CONNECTION")
print(mongo_uri)
# Connect to the MongoDB database
client = MongoClient(mongo_uri)

# Replace 'your_database_name' and 'your_collection_name' with your actual database and collection names
db = client['DSA']
collection = db['pipelines_workshop']

# Insert the data into MongoDB (this will insert all the records in one operation)
collection.insert_one({"YOUR UNIQUE NAME HERE": grouped_data_dict})

print("Data uploaded to MongoDB successfully!")

mongodb+srv://dsa:<db_password>@dsa.zhtwv.mongodb.net/?retryWrites=true&w=majority&appName=DSA

OperationFailure: bad auth : authentication failed, full error: {'ok': 0, 'errmsg': 'bad auth : authentication failed', 'code': 8000, 'codeName': 'AtlasError'}